footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d0bfffe0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

footer div ul{
    display: flex;
    align-items: center;
    list-style: none;
}

footer div ul li a{
    text-decoration: none;
    padding: 1.875rem;


}
footer div ul li a:hover{
    color: whitesmoke;
}







